<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>Make Better Games - Get Feedback | alpha Stage</title>

  <!-- SEO -->
  <meta name="description" content="A multi-platform desktop app for video game developers to find players, watch play tests, get feedback, grow a community, and build better games. Register Now!"/>
  <meta name="author" content="alpha Stage"/>
  <meta name="keywords" content="make,games,community,alpha,Stage,indie,developer"/>

  <!-- OPEN GRAPH TAGS -->
  <meta property="og:title" content="Alpha Stage"/>
  <meta property="fb:app_id" content="1274241316004063"/>
  <meta property="og:description" content="A multi-platform desktop app for video game developers to find players, watch play tests, get feedback, grow a community, and build better games."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.alphastagegames.com"/>
  <meta property="og:image" content="http://thisgengaming.com/wp-content/uploads/2015/09/indies.jpg"/>

  <!-- VENDOR CSS-->
  <link href="../../static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../static/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>

  <!-- YOUR CSS -->
  <link href="../../static/stylesheets/app.css" rel="stylesheet"/>

  <script type="text/javascript" src="../../static/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/vendor/sweetalert/dist/sweetalert.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
  <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
  <!--if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
-->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-91617008-1', 'auto');
ga('send', 'pageview');

</script>
</head>
<body>

  {{{body}}}

</body>
</html>
