<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>{{subject}}</title>
</head>
<body>
  <h1>Contact message from: {{name}} - {{email}}</h1>
  <p>{{message}}</p>
</html>
