<div class="header">
  <div class="navbar navbar-top navbar-fixed-top">
    <div class="contianer">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="../static/images/alphaicon.png">  Alpha Stage
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#" class="btn btn-download"><i class="fa fa-download"></i> Download</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div id='title' class='headerimage'>
  <img alt="Logo" src="../static/images/alphaiconLarge.png">
  <h2 class="phrase">
    <p id="text-change">Get feedback</p>
  </h2><!--
    <a href="#" class="videoplay-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
  --><br>
  <p class="su-phrase">Sign up to be one of the first to try Alpha Stage and <span style="font-style: italic;" class="txt-change">launch awesome games!</span></p>
  <span class="fill-out">
    <input class="email-input" type="email" name="email" placeholder="Email">
    <a href="#" class="dev-select active">Developer</a>
    <a href="#" class="player-select">Player</a>
  </span>
  <br>
  <a href="#" class="btn btn-signup">SIGN UP</a>
</div>
<div id="backshape">
  <div class="wrapper">
    <img class="screen-main unbend" src="../static/images/screen1.png" alt="Screenshot of alpha stage home page">
    <br>
    <h2 style="margin-top: 60px;">Get Feedback</h2>
    <p class="center-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non rhoncus orci. Duis nec sapien ante. Pellentesque auctor vel felis id congue. Phasellus in ante nisl. Proin molestie consectetur dui, nec lobortis tortor cursus in. Etiam arcu nunc, imperdiet non ullamcorper sed, posuere vitae nibh. Sed convallis sit amet metus ultrices sodales.
    </p>
  </div>
</div>
<div class="footer">
  <div class="wrapper"></div>
</div>

<div class="modal fade" id="downloadModal" role="dialog">
  <div class="modal-dialog pim">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Enter your invitation key</h3>
      </div>
      <div class="modal-body">
        <div class="container">
          <label class="input-tag">KEY</label>
          <input class="gf-input" type="text" ref="emailRef" />
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn play-btn">Send invite</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <iframe width="600" height="330" src="https://www.youtube.com/embed/eslpFNzbhOQ" frameborder="0" allowfullscreen></iframe>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
