<div class="header">
  <div class="navbar navbar-transparent navbar-fixed-top">
    <div class="contianer">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Alpha Stage</a>
      </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
          <li><a href="#">Features</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id='title'>
    <h1>
      alpha Stage
    </h1>
    <h2 class="phrase">
      <p>Find players. Grow your community. Get feedback. Build better games.</p>
    </h2>
    <br>
    <span class="fill-out">
      <input class="email-input" type="email" name="email" placeholder="Email">
      <a href="#" class="dev-select active">Developer</a>
      <a href="#" class="player-select">Player</a>
    </span>
    <br>
    <a href="#" class="btn btn-signup">Sign up to launch awesome games</a>
  </div>
</div>
<div style="background-color: white; height: 100vh">

</div>
<script src="./app.js"></script>
