<div class="header">
  <div class="navbar navbar-top navbar-fixed-top">
    <div class="contianer">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="../static/images/alphaicon.png">  Alpha Stage
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
          <li><a href="#" class="btn-contact">Contact Us</a></li>
          <li><a href="#" class="btn btn-download"><i class="fa fa-download"></i> Download</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div id='title' class='headerimage'>
  <img alt="Logo" src="https://s9.postimg.org/3x3cyzobz/alphaiconlarge.png">
  <h2 class="phrase">
    <p id="text-change">Get feedback</p>
  </h2><!--
    <a href="#" class="videoplay-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
  --><br>
  <p class="su-phrase">Be one of the first to try Alpha Stage and <span style="font-style: italic;" class="txt-change">launch awesome games!</span></p>
  <span class="fill-out">
    <input class="email-input" type="email" name="email" placeholder="Email">
    <a href="#" class="dev-select active">Developer</a>
    <a href="#" class="player-select">Player</a>
  </span>
  <br>
  <a href="#" class="btn btn-signup">SIGN UP</a>
</div>
<div id="backshape">
  <div class="wrapper">
    <img class="screen-main unbend" src="../static/images/screen1.png" alt="Screenshot of alpha stage home page">
    <br>
    <h2 style="margin-top: 60px;">Get Feedback</h2>
    <p class="center-info">
      Players can send constructive feedback to the developers in a Good, Better, Best format.  We believe that feedback should always be a positive experience, although critical feedback can be helpful we feel it’s more effective to point out a problem coupled with a solution.
    </p>
    <div class="container">
      <br>
      <div class="row info-row">
        <div class="col-md-6">
          <h2 style="margin-top: 60px;">Grow Your Community</h2>
          <p class="side-info">
            Focus more time on developing your game and let Alpha Stage be your landing page for your community.  Within the platform we build a space for developers to keep in contact with their players and inform them on their latest changes and future updates.
          </p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
      <br>
      <div class="row info-row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <h2 style="margin-top: 60px;">Build Better Games</h2>
          <p class="side-info">
            Through streaming video recordings of game play, a developer can study a player’s experience on their own time and see exactly where to make changes to improve.  Instead of having to hold a play test or go hunting for a reported bug, a developer will have quality assurance brought to them and will be able to witness any struggles or successes their players encounter.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="wrapper"></div>
</div>

<div class="modal fade" id="downloadModal" role="dialog">
  <div class="modal-dialog pim">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Enter your invitation key</h3>
      </div>
      <div class="modal-body">
        <div class="container" style="width: 100%">
          <label class="input-tag">KEY</label>
          <input id="key-input" class="gf-input" type="text" />
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn play-btn">Download</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contactModal" role="dialog">
  <div class="modal-dialog pim">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Contact Us</h3>
      </div>
      <div class="modal-body">
        <div class="container" style="width: 100%">
          <label class="input-tag">NAME</label>
          <input name="name" class="gf-input" type="text" />
          <label class="input-tag">YOUR EMAIL</label>
          <input name="contactEmail" class="gf-input" type="text" />
          <label class="input-tag">SUBJECT</label>
          <input name="subject" class="gf-input" type="text" />
          <label class="input-tag">MESSAGE</label>
          <textarea name="message" class="gf-input" type="text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a id="send-message" href="#" class="btn play-btn">Send</a>
        <div style="margin-top: 10px">
          <span>alphastagegames@gmail.com</span> -
          <span><a href="https://github.com/cdiezmoran/AlphaStage-desktop" style="color: black"><i class="fa fa-github fa-2x"></i></a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <iframe width="600" height="330" src="https://www.youtube.com/embed/eslpFNzbhOQ" frameborder="0" allowfullscreen></iframe>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
