  <div id='title' class='headerimage'>
    <h1>
      Alpha Stage
    </h1>
    <h2 class="phrase">
      <p id="text-change">Get feedback</p>
    </h2><!--
    <a href="#" class="videoplay-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
    --><br>
  <span class="fill-out">
      <input class="email-input" type="email" name="email" placeholder="Email">
      <a href="#" class="dev-select active">Developer</a>
      <a href="#" class="player-select">Player</a>
    </span>
    <br>
    <a href="#" class="btn btn-signup">Sign up to launch awesome games</a>
  </div>
  <div id="backshape">
  <div class="wrapper">
    <img class="screen-main unbend" src="../static/images/screen1.png" alt="Screenshot of alpha stage home page">
    <br>
  </div>
</div>
<div class="footer">
  <div class="wrapper"></div>
</div>
  <div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <iframe width="600" height="330" src="https://www.youtube.com/embed/eslpFNzbhOQ" frameborder="0" allowfullscreen></iframe>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
