body {
  color: white;
}

.headerimage {
  background: linear-gradient(135deg, #87e0fd 0%,#53cbf1 5%,#53cbf1 5%,#9206dd 75%);
  height:108vh;
  width:100%;
  background-size:cover;
  margin-top: -20px;
  text-align: center;
  padding-top: 45px;
}

.headerimage h1 {
  font-size: 48pt;
  color: white;
  margin-bottom: 30px;
  margin-top: 60px;
}

#backshape .wrapper {
  display:block;
  float:left;
  margin:50px auto 200px;
  width:100%;
  padding:0 5%;
  color: black;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg);
-webkit-transform:skew(0deg,-5deg);
text-align: center;
}
.product {
  float:left;
  width:29%;
  min-height:200px;
  background:blue;
  margin:2%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg,0deg); /* Safari and Chrome */
}

.unbend {
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg,0deg); /* Safari and Chrome */
}

#backshape {
  z-index:1;
  display:block;
  float:left;
  margin-top:-100px;
  width:100%;
  background:white;
  transform:skew(0deg,10deg);
-ms-transform:skew(0deg,10deg); /* IE 9 */
-webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
}

.phrase {
  font-size: 28pt;
  color: #fff;
}

.phrase p {
  width: 60%;
  margin: auto;
}

.btn-signup {
  color: white;
  background-color: #0091EA;
  font-size: 14pt;
  border-radius: 24px;
  padding: 7.5px 40px;
  transition: all .2s ease-out;
  font-weight: bold;
}

.btn-signup.green {
  background-color: #00C853;
}

.btn-signup.green:hover {
  color: white;
  padding: 7.5px 50px;
  background-color: #00E676;
}

.btn-signup:hover {
  color: white;
  padding: 7.5px 50px;
  background-color: #00B0FF;
}

.navbar-top {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid white;
  transition: all 0.2s ease-in;
}

.navbar-top.detach {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}

.navbar-top .navbar-brand {
  color: white;
  transition: color 0.2s ease-in;
}

.navbar-top .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-top.detach .navbar-brand {
  color: #555;
  transition: color 0.2s ease-in;
}

.navbar-top.detach .navbar-brand:hover {
  color: #222;
  background-color: transparent;
}

.fill-out {
  color: #0C0D28;
  width: 100%;
  font-size: 18px;
  display: block;
}

.email-input {
  width: 40%;
  padding: 5px 10px;
  border: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.dev-select {
  background-color: #eee;
  color: #777;
  padding: 7px 10px;
  text-decoration: none;
  margin-left: -5px;
}

.dev-select.active {
  background-color: #00B0FF;
  color: white;
}

.player-select.active {
  background-color: #00E676;
  color: white;
}

.player-select {
  background-color: #eee;
  color: #777;
  padding: 7px 20px;
  margin-left: -5px;
  text-decoration: none;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.player-select:hover, .player-select:focus, .dev-select:hover, .dev-select:focus {
  text-decoration: none;
}

.videoplay-btn {
  color: #ddd;
  font-size: 16rem;
}

.videoplay-btn:hover {
  color: #fff;
}

.footer {
  z-index:2;
  margin-top:-4em;
  position:relative;
  width:100%;
  display:block;
  float:left;
}
.footer .wrapper {
  height:150px;
  background: #eee url('../images/circuitTopBG.png') center no-repeat;
}

.screen-main {
  width: 80%;
  margin-top: -100px;
  display: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#text-change {
  display: inline;
}

.navbar-brand img {
  width: 29px;
  height: 24px;
  display: inline-block;
}

#title img {
  width: 174px;
  height: 145px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.navbar .navbar-nav li a {
  color: #eee;
  background-color: transparent;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar.detach .navbar-nav li a {
  color: #555;
}

.navbar.detach .navbar-nav li a:hover, .navbar.detach .navbar-nav li a:focus {
  color: #222;
}

.su-phrase {
  margin-bottom: 15px;
  margin-top: 40px;
  margin-top: 10px;
  font-size: 16pt;
  width: 40%;
  display: inline-block;
}

.center-info {
  text-align: justify;
  margin: auto;
  text-align-last: center;
  width: 50%;
  color: #555;
  font-size: 14pt;
}

.modal-content {
  background-color: #222;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-body {
  background-color: #333;
  padding: 0
}

.modal-footer {
  border-top: 1px solid #555;
}

.modal-dialog {
  width: 720px;
  max-width: 720px;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
